<section class="main-content">
	<div class="section-body pt-4">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-statistic-4">
						<div class="align-items-center justify-content-between">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-grid-spacing" (click)="navigateClasses()">
									<div class="card-content">
										<h5 class="font-20">My Classes 2</h5>

										<!-- <p class="mb-0"><span class="col-green">42%</span></p> -->
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-grid-spacing" (click)="navigateClasses()">
									<div class="banner-img">
										<img src="assets/images/banner/1.png" alt="" width="150" height="100" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-statistic-4">
						<div class="align-items-center justify-content-between">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-grid-spacing" (click)="navigateLessons()">
									<div class="card-content">
										<h5 class="font-20">My Lessons 2</h5>

										<!-- <p class="mb-0"><span class="col-green">42%</span></p> -->
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-grid-spacing" (click)="navigateLessons()">
									<div class="banner-img">
										<img src="assets/images/banner/2.png" alt="" width="150" height="100" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-statistic-4">
						<div class="align-items-center justify-content-between">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-grid-spacing">
									<div class="card-content">
										<h5 class="font-20">Library</h5>
										<!-- <p class="mb-0"><span class="col-green">42%</span></p> -->
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-grid-spacing">
									<div class="banner-img">
										<img src="assets/images/banner/3.png" alt="" width="150" height="100" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-statistic-4">
						<div class="align-items-center justify-content-between">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-grid-spacing">
									<div class="card-content">
										<h5 class="font-20">Events</h5>
										<!-- <p class="mb-0"><span class="col-green">42%</span></p> -->
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-grid-spacing">
									<div class="banner-img">
										<img src="assets/images/banner/4.png" alt="" width="150" height="100" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
