<section class="main-content">
    <ul class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item">
			<h5 class="page-title m-b-0">LEARNING-PLAN</h5>
		</li>
        <li class="breadcrumb-item bcrumb-1">
			<a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
		</li>
        <li class="breadcrumb-item">LEARNING-PLAN</li>
    </ul>
</section>
    <!-- <ul class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item">
			<h5 class="page-title m-b-0">LEARNING-PLAN</h5>
		</li>
        <li class="breadcrumb-item bcrumb-1">
			<a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
		</li>
        <li class="breadcrumb-item">LEARNING-PLAN</li>
    </ul> -->

    <!-- <hr> -->

    <!-- <div class="section-body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="p-10">
                        <div class="row">
                            <div class="col-12">
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <div class="ngxTableHeader">
                                            
                                            <div class="table-title">
                                                <ul class="breadcrumb breadcrumb-style">
                                                    <li class="breadcrumb-item">
                                                        <h5 class="page-title m-b-0">ACADEMIC GRADE</h5>
                                                    </li>
                                                    
                                                    <li  class="breadcrumb-item bcrumb-1">
                                                        <p-dropdown
                                                            [options]=""
                                                            class="p-inputtext-sm"
                                                            optionLabel=""
                                                            optionValue=""
                                                        >

                                                        </p-dropdown>
                                                    </li>
                                                </ul>
											</div>

                                        </div>

                                        <hr>  

                                        <div class="section-body">
                                            <div class="row clearfix">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="card">
                                                        <div class="p-10">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="row m-0">
                                                                        <div class="col-12 p-0">
                                                                            <div class="ngxTableHeader">
                                                                                <div class="table-title">
                                                                                    <ul class="breadcrumb breadcrumb-style">
                                                                                        <li class="breadcrumb-item">
                                                                                            <h6 class="page-title m-b-0">LIST OF THE SUBJECT</h6>
                                                                                        </li>

                                                                                        <div class="buttons" style="margin-left: 850px;">
                                                                                            <span>
                                                                                                <button class="btn btn-icon btn-sm btn-warning">
                                                                                                    <i class="far fa-edit"></i> 
                                                                                                </button>
                                        
                                                                                                <button class="btn btn-icon btn-sm btn-danger">
                                                                                                    <i class="far fa-trash-alt"></i> 
                                                                                                </button>

                                                                                                <button class="btn btn-icon btn-sm btn-primary ">
                                                                                                    <i class="fa fa-plus"></i>
                                                                                                </button>
                                                                                            </span>    
                                                                                        </div> 
                                                                                    </ul>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                    <p-table>
                                                                                        <ng-template pTemplate="header" >
                                                                                            <tr>
                                                                                                <th>SUBJECT ID</th>
                                                                                                <th>SUBJECT NAME</th>
                                                                                                <th>DESCRIPTION</th>
                                                                                                <th>SUBJECT HEAD</th>
                                                                                                <th>SUBJECT TEACHERS</th>
                                                                                                <th>ACTION</th>
                                                                                            </tr>
                                                                                        <!-- </ng-template> -->

                                                                                        <!-- <ng-template pTemplate="body" > 
                                                                                            <tr>
                                                                                                <td>G10IT</td>
                                                                                                <td>Information Technology</td>
                                                                                                <td>Description of the Subject</td>
                                                                                                <td>Pro.Samantha Thelijjagoda.</td>
                                                                                                <td>Mrs.Chanukashi Gamage <br> Mr.Ashen Dunusinghe</td>
                                                                                                <td>
                                                                                                    <div class="buttons">
                                                                                                        <span>
                                                                                                            <button class="btn btn-icon btn-sm btn-primary">
                                                                                                                <i class="far fa-edit"></i> Edit -->
                                                                                                                <!-- <i class="fas fa-edit fa-spin fa-3x"></i> more -->
                                                                                                                <!-- <i class="fas fa-edit"></i> more
                                                                                                            </button>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>G10IT</td>
                                                                                                <td>Information Technology</td>
                                                                                                <td>Description of the Subject</td>
                                                                                                <td>Pro.Samantha Thelijjagoda.</td>
                                                                                                <td>Mrs.Chanukashi Gamage <br> Mr.Ashen Dunusinghe</td>
                                                                                                <td>
                                                                                                    <div class="buttons">
                                                                                                        <span>
                                                                                                            <button class="btn btn-icon btn-sm btn-primary"> -->
                                                                                                                <!-- <i class="far fa-edit"></i> Edit -->
                                                                                                                <!-- <i class="fas fa-edit fa-spin fa-3x"></i> more -->
                                                                                                                <!-- <i class="fas fa-edit"></i> more
                                                                                                            </button>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>

                                                                                        </ng-template>

                                                                                    </p-table>
                                                                                </div>
                                                                            </div>    

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->